
body {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 18px;
	background-color: #fff;
}
.container {
	max-width: 1288px;
	margin: auto;
}

/** HEADER **/
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0px -2px 128px -18px rgba(20,20,20,1);
    -moz-box-shadow: 0px -2px 128px -18px rgba(20,20,20,1);
    box-shadow: 0px 2px 80px -26px rgba(20,20,20,1);
}
.logo {
	display: block;
	padding: 15px 0;
}
.header-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
}
.header-wrap .active {
	box-shadow: -1px 7px 0px -2px rgba(48, 178, 130, 1);
}
nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	display: block;
	text-decoration: none;
	color: #000;
	margin: 0 15px;
	line-height: 88px;
	border-bottom: 7px solid transparent;
}
.btn-request {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #ff0000;
	padding: 14px 25px 14px 25px;
	border-radius: 5px;
}

.section-title {
	padding: 140px 0 40px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.section-title_text {
	color: #464646;
	font-size: 22px;
	font-family: HelveticaNeueCyr-Light;
	line-height: 35px;
	margin: 0;
}
.section-title_text span {
	color: #9d9b9b;
	font-family: HelveticaNeueCyr-Thin;
}
.section-title_tel {
	line-height: 35px;
	font-size: 20px;
	color: #393534;
	margin: 0 70px 0 0;
}
.section-title_tel span {
	font-size: 14px;
	text-transform: uppercase;
	color: #959393;
}

.main-info {
	background-image: url(../img/main-info_bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 0 160px 0;
}
h1 {
	margin: 0;
	font-family: HelveticaNeueCyr-Bold;
	font-weight: bold;
	color: #fff;
	padding: 95px 0;
	font-size: 45px;
}
.h1-desc {
    text-transform: uppercase;
    font-size: 28px;
    font-family: HelveticaNeueCyr-Light;
    color: #fff;
    padding-bottom: 70px;
    margin: 0;
}
.main-request {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-image: url(../img/main-request_bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 0.9;
}
.main-info_title {
	margin-left: 70px;
}
.main-form {
	margin: 20px 70px 20px 0;
	text-align: center;
	background-color: #fff;
	border-radius: 13px;
	padding: 20px;
}
.form-desc {
	font-family: HelveticaNeueCyr-Thin;
	font-size: 14px;
	color: #707070;
	margin: 0 0 20px 0;
}
.form-title {
	margin: 0;
	text-transform: uppercase;
	font-size: 20px;
	font-family: HelveticaNeueCyr-Bold;
	color: #ff3007;
}
.main-form input {
    margin-top: 20px;
    padding: 10px 0px;
    width: 90%;
    border: none;
    border-bottom: 2px solid #959393;
    outline: none;
}
.form-btn {
    background-color: #959393;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 75px;
    margin: 20px 0;
    cursor: pointer;
}
::-webkit-input-placeholder {color:#30b282;
text-transform: uppercase;text-align: center;font-size: 14px;}
::-moz-placeholder          {color:#30b282;
text-transform: uppercase;text-align: center;font-size: 14px;}/* Firefox 19+ */
:-moz-placeholder           {color:#30b282;
text-transform: uppercase;text-align: center;font-size: 14px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#30b282;
text-transform: uppercase;text-align: center;font-size: 14px;}

.modern-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	padding: 0 70px; 
}
.modern-title {
    font-size: 33px;
    font-family: HelveticaNeueCyr-Medium;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}
.modern-wrap p {
	font-size: 21px;
	font-family: HelveticaNeueCyr-Thin;
	color: #312b2b;
	margin-left: 50px;
}

.modern {
	margin-top: -120px;
	background-color: #fff;
}

.adv-title {
	font-size: 33px;
	font-family: HelveticaNeueCyr-Medium;
	text-align: center;
	text-transform: uppercase;
}
.adv-access {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #bdffe7;
}
.adv-access_title {
    font-size: 30px;
    margin: 0;
    margin-left: -35px;
    padding: 50px 0;
    background-image: url(../img/adv-title.png);
    padding-left: 120px;
    background-repeat: no-repeat;
    background-position: left center;
}
.adv-access_item {
	width: 50%;
}
.adv-access_item img {
	width: 100%;
}
.adv-access_item1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.adv-access_item1 ul li {
	font-size: 20px;
	padding: 10px 0 10px 50px;
	background-image: url(../img/adv-list.png);
	background-repeat: no-repeat;
	background-position: left 10px;
}
.adv-access_item1 {
    width: 420px;
    margin: 0 auto;
    padding-left: 50px;
    margin-bottom: 15px;
}
.adv-access_item2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.notify {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.notify-item {
	width: 50%;
}
.notify-item1 {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.notify-item2 {
	max-width: 440px;
	margin-left: 30px;
}
.notify-title {
	font-size: 30px;
	padding-left: 50px;
	background-image: url(../img/bell.png);
	background-repeat: no-repeat;
	background-position: 30px center;
	text-align: center;
}
.notify-desc {
	font-size: 20px;
}

#notify-telegram {
	text-align: left;
	padding-left: 70px;
	background-image: url(../img/telegram-icon.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}
.notify-phone p {
	text-align: center;
	margin: 0;
}
.sms-access_title {
	font-size: 30px;
    margin: 0;
    padding: 50px 0;
    background-image: url(../img/sms-icon.png);
    padding-left: 110px;
    background-repeat: no-repeat;
    background-position: left center;
}
.sms-desc {
	font-size: 20px;
	width: 430px;
}
.adv-card {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.card-item {
	width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-left: 30px;
    box-sizing: border-box;
}
.card-img {
	margin: 0 auto;
}
.adv-card_item {
	width: 50%;
	text-align: center;
}
.adv-card_item img {
	margin-bottom: -4px;
}
.card-title {
	font-size: 30px;
    margin: 0;
    padding: 50px 0;
    background-image: url(../img/card-icon.png);
    padding-left: 110px;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
    width: 300px;
}
.card-title span {
	text-transform: uppercase;
	font-family: HelveticaNeueCyr-Bold;
}
.attachment-title {
	text-align: center;
	padding: 18px 0;
	background-image: url(../img/smart-icon.png);
	font-size: 28px;
	padding-left: 113px;
}
.attachment-desc {
	padding-left: 40px;
}